body {
  margin: 0;
  background: transparent;
  font-family: "JetBrains Mono", monospace;
}

.about-window {
  padding: calc(8px * 2);
  border-radius: calc(8px * 2);
  opacity: 0;
  transform: scale(0.75, 0.5625);
  animation: grow-in 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms forwards;
  background-image: linear-gradient(315deg, rgb(58, 37, 97), rgb(25, 22, 32));
  color: rgba(250, 250, 250, 0.875);
}

.about-window a {
  color: rgba(250, 250, 250, 0.875);
  text-decoration: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.875);
}

.about-window button {
  outline: none;
  padding: 8px calc(8px * 2);
  border: none;
  background-color: rgba(103, 58, 183, 1);
  border-radius: calc(8px * 2);
  color: rgba(250, 250, 250, 0.875);
  transition: filter 125ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: filter;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.about-window button:hover {
  filter: brightness(0.875);
}

.about-window button:active {
  filter: brightness(0.75);
}

@keyframes grow-in {
  from {
    opacity: 0;
    transform: scale(0.75, 0.5625);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
